#custom_footer
    padding-bottom: 1rem

.column_content
    margin: 20px 0 0 0
    position: relative
    &:before 
        position: absolute
        content: ''
        top: -10px
        height: 2px
        width: 90%
        background: #1a1a1a
    &:after
        position: absolute
        content: ''
        top: -10px
        height: 2px
        width: 15%
        background: #2027f1
