.swiper-container
    width: 100%
    height: 100%
    position: relative

    .swiper-wrapper
        height: 100%

.swiper-slide
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.5em
    color: #fff
    text-align: center
    height: 100%
    background-size: contain
    position: relative

.slide-image
    width: 100%
    height: 100%
    object-fit: cover // Asegura que la imagen cubra todo el contenedor
    position: absolute
    top: 0
    left: 0
    z-index: -1 // Envía la imagen al fondo

.slide-content
    z-index: 1
    opacity: 0
    transition: opacity 1s ease-in-out
    background: rgba(0, 0, 0, 0.5)
    width: 100%
    height: 100%
    position: relative
    color: #fff
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) //; /* Añade sombra al texto para mejorar la legibilidad */
    padding: 20px

    .slide-content-wrapper
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        height: 100%

    .slide-title
        font-size: 2em
        font-weight: bold
        margin-bottom: 10px

    .slide-description
        font-size: 1em

/* Mostrar la descripción solo en la diapositiva activa */
.swiper-slide-active .slide-content
    display: block
    opacity: 1
    height: 100%
